{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'CSS/enrollment.css'%}">
</head>
<body>
    <div class="box0">
    <h1 class="h">LabCode!</h1>
    <button>Post</button>
    </div>
    <div class="box1">
        <div class="box2">
            <div class="profile" ><a href="{% url 'teacher'%}">Profile</a></div>
            <div class="create_testroom" ><a href="#">create testroom</a></div>
            <div class="View_Result" ><a href="#">view Result</a></div>
            <div class="Qustion_paper" ><a href="#">Question Paper</a></div>
            <div class="Logout" ><a href="{% url 'login'%}">Log out</a></div>
        </div>
        
    </div>
    <div class="please">
        Please ask your Examines to register first with given below link:


    </div>
    <div class="linkshare">

    </div>
    <button class="copy"><a href="{% url 'Student_registration'%}">copy</a></button>
</body>
</html>