{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/exam_page.css' %}">
    <link rel=stylesheet href="{% static 'CSS/codemirror-5.59.4/lib/codemirror.css' %}">
    <link rel=stylesheet href="{% static 'CSS/codemirror-5.59.4/doc/docs.css' %}">
    <script src="{% static 'CSS/codemirror-5.59.4/lib/codemirror.js' %}"></script>
    <script src="{% static 'CSS/codemirror-5.59.4/mode/xml/xml.js' %}"></script>
    <script src="{% static 'CSS/codemirror-5.59.4/mode/javascript/javascript.js' %}"></script>
    <script src="{% static 'CSS/codemirror-5.59.4/mode/css/css.js' %}"></script>
    <script src="{% static 'CSS/codemirror-5.59.4/mode/htmlmixed/htmlmixed.js' %}"></script>
    <script src="{% static 'CSS/codemirror-5.59.4/addon/edit/matchbrackets.js' %}"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script src="{% static 'CSS/codemirror-5.59.4/doc/activebookmark.js' %}"></script>
<link rel="stylesheet" href="{% static 'node_modules/xterm/css/xterm.css' %}" />
      <script src="{% static 'node_modules/xterm/lib/xterm.js' %}"></script>

<style>
  .CodeMirror { height: 730px; width: 500px; border: 2px solid #ddd; }
  .CodeMirror-scroll { max-height: 730px; }
  .CodeMirror pre { padding-left: 7px; line-height: 1.25; }
  .banner { background: #ffc; padding: 6px; border-bottom: 2px solid silver; text-align: center }
  .help{
    position: absolute;
width: 60px;
height: 30px;
left: 1208px;
top: 25px;
background: #6679cf;
border-radius: 10px;
}
</style>

<script type="text/javascript">
    window.onload = maxWindow;

    function requestFullScreen(element) {
// Supports most browsers and their versions.
var requestMethod = element.requestFullScreen || element.webkitRequestFullScreen || element.mozRequestFullScreen || element.msRequestFullScreen;

if (requestMethod) { // Native full screen.
    requestMethod.call(element);
} else if (typeof window.ActiveXObject !== "undefined") { // Older IE.
    var wscript = new ActiveXObject("WScript.Shell");
    if (wscript !== null) {
        wscript.SendKeys("{F11}");
    }
}
}

var elem = document.body; // Make the body go full screen.
requestFullScreen(elem);
    
</script> 

    <title>Document</title>
</head>
<body>
    <h1 class="h">welcome!....</h1>
    <form action="{% url 'runcode' %}" method="POST" class="form-box">
      {% csrf_token %}
    <select  name="languages" class="select">
        <option  name="languages"  value="C" >C</option>
        <option  name="languages"value="C++">C++</option>
        <option name="languages" value="Java">Java</option>
        <option name="languages" value="Python">python</option>
         
    </select>
    <button class="help"><a href="{% url 'studentlogin' %}">Logout</a></button>

    <div class="question-box"></div>
    <div class="code-box">
        <section id=demo>
          {% csrf_token %}
            <div    method="POST" style="position: relative; margin-top: .5em; height: 500px; width: 522px;"><textarea name="code" id=demotext>{{code}}</textarea>
            </div>
            <script>
              var editor = CodeMirror.fromTextArea(document.getElementById("demotext"), {
                lineNumbers: true,
                mode: "text/html",
                matchBrackets: true
              });
            </script>
          
           
          
          </section>
    </div>
    <div class="col-sm-3">
      <div class="row mb-4">
       
        <textarea class="form-control" rows="7" name="input_area" style="border:1px solid grey; position: absolute;
        width: 395px;
        height: 436px;
        left: 1023px;
        top: 100px; ">{{input}}</textarea>
      </div>
      <div class="row">
        
        <textarea class="form-control" rows="7" name="output" style="border:1px solid grey; position: absolute;
        width: 395px;
        height: 303px;
        left: 1023px;
        top: 556px;
        " disabled>{{output}}</textarea>
      </div>
    </div>
    <submit><button class="run" >Run</button></submit>
  

    <button class="final-submit">Final Submit</button>
    <img class="arrow-left" src="{% static 'Group 20.png' %}">
    <img class="arrow-right" src="{% static 'Group 21.png' %}">
  </form>
</body>
</html>