<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>

<body style="background-color: #ac3333;;">
    <div style="position: absolute;
    width: 800px;
    height: 200px;
    left: 250px;
    top: 70px;
    
    background: #FFFFFF;
    border-radius: 20px;">



        <div style="position: absolute;
        width: 751px;
        height: 117px;
        left: 30px;
        top: 20px;
        
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 29px;
        
        color: #269655;"><h1>LabCode</h1>
         Register for your exam, you will get OTP in your mail just 24 hrs before exam</div>
        <div style="position: absolute;
        width: 751px;
        height: 90px;
        left: 30px;
        top: 150px;
        
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 29px;
        
        color: #F70909;
        ">*please provide valid email ID and Mobile no.</div>
    </div>
    
    <div style="position: absolute;
    width: 800px;
    height: 390px;
    left: 250px;
    top: 300px;
    
    background: #FFFFFF;
    border-radius: 20px;">
    <form method="POST">
        {% csrf_token %}
        <input type="text" style="border:2pt; position: absolute;
        width: 280px;
        height: 50px;
        left: 120px;
        top: 50px;
        border: 1px solid grey;
        border-radius: 20px;" placeholder="First Name" name="F_name" required autocomplete="off">
        <input type="text" style="border:2pt; position: absolute;
        width: 280px;
        height: 50px;
        left: 420px;
        top: 50px;
        border: 1px solid grey;
        border-radius: 20px;" placeholder="Last Name" name="L_name" required autocomplete="off">
       <input type="email" style="border:2pt; position: absolute;
       width: 583px;
       height: 50px;
       left: 120px;
       top: 150px;
       border: 1px solid grey;
       border-radius: 20px;"
        placeholder="Enter your Email id" name="email" required autocomplete="off" >
        <input type="text" style="border:2pt; position: absolute;
       width: 583px;
       height: 50px;
       left: 120px;
       top: 250px;
       border: 1px solid grey;
       border-radius: 20px;
       font-family: sans-serif"
        placeholder="Enter mobile No." name="mobile_no" required autocomplete="off">
        <button style="position: absolute;
        width: 100px;
        height: 30px;
        left: 370px;
        top: 350px;
        background: #276CE8;
        border-radius: 50px;
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 149.6%;
        /* or 45px */

        text-align: center;

        color: #FFFDFD;
        border: none;">Register</button>

    </form>
    

    </div>
</body>
</html>