{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'CSS/teacher.css' %}">
</head>
<body>
    <div class="box0">
    <h1 class="h">WelCome! {{ data.FNAME }}{{ data.LNAME }}</h1>
    
    </div>
    <div class="box1" style=" position: absolute;
    width: 100%;
    height: 120%;
    left: 0px;
    top: 108px;
    
    background: #F1EFEF;">
        <div class="box2">
            <div class="profile" ><a href="{% url 'teacher' %}">Profile</a></div>
            <div class="create_testroom" ><a href="{% url 'enrollment' %}">create testroom</a></div>
            <div class="View_Result" ><a href="#">view Result</a></div>
            <div class="Qustion_paper" ><a href="{% url 'question_paper'%}">Question Paper</a></div>
            <div class="Logout" ><a href="{% url 'login'%}">Log out</a></div>
        </div>
        
    </div>
{% block content %}

    <div class="box3" style="position: absolute;
    width: 866px;
    height: 600px;
    left: 351px;
    top: 162px;
    
    background: #FFFFFF;
    border-radius: 10px;">
        <h3 style="position: absolute;
        width: 54px;
        height: 23px;
        left: 70px;
        top: 30px;
        ">Name </h3>
        <div class="name" style="position: absolute;
        width: 312px;
        height: 23px;
        left: 300px;
        top: 40px;
        
        background: #FFF7F7;
        border: 1px solid #000000;
        box-sizing: border-box;">{{ data.FNAME }}{{ data.LNAME }}</div>
        <br>
        <h3 style="position: absolute;
        width: 40px;
        height: 23px;
        left: 70px;
        top: 100px;">DOB</h3>
        <div class="DOB" style=" position: absolute;
        width: 312px;
        height: 23px;
        left: 300px;
        top: 110px;
        
        background: #FFF7F7;
        border: 1px solid #000000;
        box-sizing: border-box;">30/03/1999</div>
        <br>
        <h3 style="position: absolute;
        width: 100px;
        height: 23px;
        left: 70px;
        top: 170px;">Mobile No. </h3>
        <div class="mobile" style="position: absolute;
        width: 312px;
        height: 23px;
        left: 300px;
        top: 180px;
        
        background: #FFF7F7;
        border: 1px solid #000000;
        box-sizing: border-box;">{{data.MOBILE_NO}}</div>
        <br>
        <h3 style="position: absolute;
        width: 92px;
        height: 23px;
        left: 70px;
        top: 240px;">Email </h3>
        <div class="Email" style="position: absolute;
        width: 312px;
        height: 23px;
        left: 300px;
        top: 250px;
        
        background: #FFF7F7;
        border: 1px solid #000000;
        box-sizing: border-box;">{{ data.EMAIL }}</div>
        <br>
        <h3 style="position: absolute;
        width: 212px;
        height: 23px;
        left: 70px;
        top: 310px;">University/College Name</h3> </h3>
        <div class="U_name" style="position: absolute;
        width: 312px;
        height: 23px;
        left: 300px;
        top: 325px;
        
        background: #FFF7F7;
        border: 1px solid #000000;
        box-sizing: border-box;">AUS</div>
        <br>
    </div>

{% endblock %}
</body>
</html>