body{
    background: #E5E5E5;

}
.box1{
    position: absolute;
    width: 477px;
    height: 676px;
    left: 717px;
    top: 50px;
    
    background: #FFFDFD;
    border-radius: 0px 40px 40px 0px ;

}

.box2{
position: absolute;
width: 477px;
height: 676px;
left: 247px;
top: 50px;

background: #27E8BE;
border-radius: 40px 0px 0px 40px;
}
.welcome{
    position: absolute;
width: 378px;
height: 56px;
left: 120px;
top: 100px;

font-family: Redressed;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 35px;

color:  #1914c5;

}

.line1{
    position: absolute;
width: 210px;
height: 0px;
left: 120px;
top: 140px;

border: 3px solid  #1914c5;
}

.best{
    position: absolute;
width: 379px;
height: 138px;
left: 60px;
top: 200px;

font-family: Redressed;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 23px;

color: #1914c5 ;

}

.btn1{
    position: absolute;
width: 144px;
height: 40px;
left: 70px;
top: 360px;
font-family: Redressed;
text-decoration: none;
text-align: center;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 26px;
color:white;
background: #276CE8;
border: 3px solid #FFFDFD;
box-sizing: border-box;
border-radius: 20px;

}

.sign{
    position: absolute;
width: 100px;
height: 26px;
left: 200px;
top: 100px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;
/* identical to box height */

text-align: center;

color: #817A7A;

}

.line2{
    position: absolute;
width: 60.01px;
height: 0px;
left: 210px;
top: 140px;

border: 3px solid  #1914c5 ;

}
.form_box{
    top: 180px;
    left: 120px;
	position: absolute;
	width: 280px;
	transition: .5s;
}

.input-field{
        

        width: 280px;
        padding: 20px 0px;
        margin : 5px 0;
        border-left: 0;
        border-top: 0;
        border-right: 0;
        border-bottom: 1px solid #999;
    
        outline: none;
        background: transparent;
}
.check-box{
	margin: 30px 10px 30px 0;
}

.submit-btn{
	width: 85%;top: 230px;
	position: absolute;
	width: 280px;
	transition: .5s;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	
	margin: auto;
	
	background: linear-gradient( to right , #e7ff10,#06ffde);
	border: 0;
	outline: none;
	border-radius: 30px;
}
  
